<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHaJHRRn6ctJT8NyNgivC2vkvHQFod6Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>360238320558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationCordova</string>
	<key>PROJECT_ID</key>
	<string>database-cordova-a0a14</string>
	<key>STORAGE_BUCKET</key>
	<string>database-cordova-a0a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360238320558:ios:64b9ff2eb8d44c1c78963f</string>
</dict>
</plist>